[/* 
	*** REMOVE THE FOLLOWING TAG BEFORE EDITING THIS REPORTVIEW ***
	This tag has been added to avoid errors being reported when the data source
	used has less than 5 columns.  It is recommended that this tag is removed
	by users modifying this reportview to assist them with debugging
*/]
[LL_WEBREPORT_SUPPRESSERRORLOG /]

<!-- Basic Report - Created by Content Server WebReports  -->
<!-- [LL_REPTAG_USAGE /] -->



<TABLE>

[/* The COLNAME tags below are used so that this reportview will work
    with any data source.  They will return the first 5 column names of the
    underlying data. */]
<TR>
	<TD>[LL_WEBREPORT_FORCEUTF8 /][LL_REPTAG_COLNAME1 /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
	<TD>[LL_REPTAG_COLNAME++ /]</TD>
	<TD><strong>Detalle</strong></TD>
</TR>

[/* 
    ODDEVEN:Browserow1:Browserow2 ensures that the Content Server styles Browserow1 &
    Browserow2 are applied alternately to the table rows 
*/]

[LL_WEBREPORT_STARTROW /]

<TR CLASS="[LL_REPTAG_ROWNUM ODDEVEN:userRow1:userRow2 /]" VALIGN="CENTER" NOWRAP ALIGN="LEFT">
	<TD>&nbsp;[LL_REPTAG_1 /]</TD>
	<TD>&nbsp;[LL_REPTAG_2 /]</TD>
	<TD>&nbsp;[LL_REPTAG_3 /]</TD>
	<TD>&nbsp;[LL_REPTAG_4 /]</TD>
	<TD>&nbsp;[LL_REPTAG_5 /]</TD>
	<TD>&nbsp;[LL_REPTAG_6 USERINFO:FIRSTNAME UPPER /] [LL_REPTAG_6 USERINFO:LASTNAME UPPER /]</TD>
	<TD>&nbsp;<a href="[LL_REPTAG_URLPREFIXFULL /][LL_REPTAG_$detalle LLURL:REPORT /]&inputlabel1=[LL_REPTAG_1 /]" target="_blank">Ver detalle</a></TD>
</TR>

[LL_WEBREPORT_ENDROW /]

</TABLE>